/*common startd*/
body{
	 margin: 0;
	 padding: 0;
	 font-family: 'Playfair Display', serif;
	 font-size: 16px;
	 font-weight: 400;
	 color: #626262;
}
/*common end*/
/*header start*/
header{
	padding: 25px 0;
	/*border: 1px solid red;*/
}
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.logo{
	margin-top: 12px;
	float: left;
     width: 12%;
/*border: 1px solid black;*/
}
.logo img{
     width: 100%;
}
.menu{
	float: right;
	width: 65%;
	/*border: 1px solid black;*/
}
.menu ul{
    float: left;
}
.menu ul li{
	list-style: none;
    float: left;
}
.menu ul li a{
	margin: 0 50px;
	display: inline-block;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0%;
}
.menu ul li a:hover {
	border-bottom: 1px solid #626262;
}

/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*perfect start*/
.perfect{
     padding: 100px 0 60px;
}
.container2{
	 margin: 0 auto;
     width: 80%;
     /*border: 1px solid red;*/
}
.b_content{

}
.c_light{
	 /*margin: 0;*/
     font-family: 'Ubuntu' , sans-serif;
     font-size: 14px;
     font-weight: 300;
     color: #b4ad9e;
     text-transform: uppercase;
}
.c_titel{
	margin: 20px 0 25px;
font-size: 30px;
font-weight: 400;
}
.c_text{
	margin: 0;
line-height: 26px;
}
.mb_45{
	margin-bottom: 40px;
}
/*perfect end*/
/*blog start*/
.blog{
	padding: 20px 0 60px;
}
.b_content{
	overflow: hidden;
}
.b_sigle{
	margin-top: 80px;
	float: left;
	width: 47%;
	/*border: 1px solid red;*/
}
.b_sigle:nth-child(even) {
	margin-left: 6%;
}
.s_img{}
.s_img img{
	width: 100%;
}
/*blog start*/
/*news*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
     text-align: center;
}
.s_h1{
     color:#333333;
     margin-top: 0;
     margin-bottom: 70px;
}
.s_form{
     width: 400px;
     /*border: 5px solid red;*/
     position: relative;
     margin: 0 auto;
}
.s_form input{
     font-family: 'Playfair Display', serif;
     color: #626262;
     font-size: 14px;
     width: 345px;
     height: 45px;
     border: none;
     border-bottom: 1px solid #000000;
     background: transparent;
     padding-left: 5px;
     padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
      border: transparent;
      border: none;
      cursor: pointer;
      top: 15px;
      right: 0;
}
.s_form button:focus{
	outline: none;
}
.s_form button img{

}
/*news*/
.my_button{
	font-family: 'Playfair Display', serif;
     color: #626262;
	font-size: 20px;
	width: 200px;
	height: 50px;
	background: transparent;
	margin-top: 160px;
	margin-bottom: 160px;
	margin-left: 370px;
	margin-right: 370;
	}

/*footer*/
.footer{
	height: 98px;
	width: 100%;
	background-color: #f0f0f0;
	/*border: 1px solid red;*/
}
.terms{
	margin-top: 24px;
	margin-bottom: 39px;
}

.terms ul{
    float: left;
    margin-top: 40px;
}
.terms ul li{
	list-style: none;
    float: left;
}
.terms ul li a{
	margin: 0 12px;
	display: inline-block;
	color: #333333;
	/*text-transform: uppercase;*/
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.terms ul li a:hover {
	border-bottom: 1px solid #626262;
}
.follow_col{
	float: right;
	padding: ;
	/*border: 1px solid red;*/
	margin-right: 68px;
	margin-top: 23px;
	margin-bottom: 36px;
}
h5{
	padding: 14px;
    margin: 0 12px;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Playfair Display', serif;;
    display: inline-block;
    color: #333333;
    /* text-transform: uppercase; */
    text-decoration: none;
}

.follow_col ul{
    float: right;
}
.follow_col ul li{
	list-style: none;
    float: right;
}
.follow_col ul li a{
	margin: 0 12px;
	display: inline-block;
	color: #626262;
	/*text-transform: uppercase;*/
	text-decoration: none;
	/*border-bottom: 1px solid transparent;*/
}
/*footer*/